<%= form_for(@profile) do |f| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% @profile.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :job %>
    <%= f.text_field :job, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :company %>
    <%= f.text_field :company, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :city %>
    <%= f.text_field :city, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label "About me" %>
    <%= f.text_area :aboutme, :placeholder => "Please describe yourself with 140 characters.", class: "form-control", :cols => "10", :rows => "5" %>
  </div>
  <div class="form-group">
    <p>
      <strong>Find me on:</strong>
    </p>
  </div>
  <div class="form-group">
    <p>
      <strong>https://twitter.com/</strong>
      <%= f.text_field :twitter_handle %>
    </p>
  </div>
  <div class="form-group">
    <p>
      <strong>https://xing.com/profiles/</strong>
      <%= f.text_field :xing_handle %>
    </p>
  </div>
  <div class="form-group">
    <p>
      <strong>https://linkedin.com/pub/</strong>
      <%= f.text_field :linkedin_handle %>
    </p>
  </div>
  <div class="form-group">
    <%= f.label :gravatar_email %>
    <%= f.text_field :gravatar_email, class: "form-control" %>
  </div>
  <div class="form-group">
    <p>
      <strong>I would like to ...</strong>
    </p>
  </div>
  <div class="form-group">
    <p>
      <%= f.check_box :meet_for_coffee %>
      <strong>meet for a coffee</strong>
     </p>
  </div>
  <div class="form-group">
    <p>
      <%= f.check_box :attend_meetings %>
      <strong>attend meetings together</strong>
    </p>
  </div>
  <div class="form-group">
    <p>
      <%= f.check_box :be_mentor %>
      <strong>be a mentor</strong>
    </p>
  </div>
  <div class="form-group">
    <p>
      <%= f.check_box :own_like_boolean  %>
      <%= f.text_field :own_like_string  %>
    </p>
  </div>
  <div class="form-group">
    <p>
      <strong>I want talk about ...</strong>
    </p>
  </div>
  <%= f.fields_for :talkabouts do |talkabouts_form| %>
    <p>
      <%= talkabouts_form.check_box :check %>
      <%= talkabouts_form.text_field :content %>
    </p>
  <% end %>
  <div class="form-group">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<%  end %>
