<p id="notice"><%= notice %></p>

<%= image_tag @pin.image.url(:medium) %>

<p>
  <strong>Name:</strong>
  <%= @profile.name %>
</p>

<p>
  <strong>Job:</strong>
  <%= @profile.job %>
</p>

<p>
  <strong>City:</strong>
  <%= @profile.city %>
</p>

<p>
  <strong>Aboutme:</strong>
  <%= @profile.aboutme %>
</p>

<p>
  <strong>Email:</strong>
  <%= @profile.email %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
