<%= link_to 'Back', profiles_path %>

<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading center">
        <%= image_tag @profile.gravatar_url %>
      </div>
      <div class="panel-body">
        <p><%= @profile.name %></p>
        <p><%= @profile.job %></p>
        <p><%= @profile.company %></p>
        <p><%= @profile.city %></p>
        <p><%= @profile.aboutme %></p>
        <p><%= @profile.twitter_url %></p>
        <p><%= @profile.xing_url %></p>
        <p><%= @profile.linkedin_url %></p>

        <% if @profile.user == current_user %>
          <%= link_to edit_profile_path(@profile) do %>
            <span class="glyphicon glyphicon-edit"></span>
            Edit
          <% end %>
        <% end %>

      </div>
    </div>
  </div>
</div>
