<%= form_for(@talkabout) do |f| %>
  <% if @talkabout.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@talkabout.errors.count, "error") %> prohibited this talkabout from being saved:</h2>

      <ul>
      <% @talkabout.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_field :content %>
  </div>
  <div class="field">
    <%= f.label :check %><br>
    <%= f.check_box :check %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
