<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @talkabout.content %>
</p>

<p>
  <strong>Check:</strong>
  <%= @talkabout.check %>
</p>

<%= link_to 'Edit', edit_talkabout_path(@talkabout) %> |
<%= link_to 'Back', talkabouts_path %>
